{% extends "base.html" %}
{% load form_filters %}
{% block title %}Canviar contrasenya{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">

    <div class="card shadow-sm p-4" style="width: 420px;">

        <h2 class="text-center mb-4">Canviar contrasenya</h2>

        <form method="POST">
            {% csrf_token %}

            <!-- Contrasenya antiga -->
            <div class="mb-3">
                <label class="form-label">Contrasenya actual</label>
                {{ form.old_password|add_class:"form-control" }}
            </div>

            <!-- Nova contrasenya -->
            <div class="mb-3">
                <label class="form-label">Nova contrasenya</label>
                {{ form.new_password1|add_class:"form-control" }}
            </div>

            <!-- Confirmació -->
            <div class="mb-3">
                <label class="form-label">Repeteix la nova contrasenya</label>
                {{ form.new_password2|add_class:"form-control" }}
            </div>

            <button type="submit" class="btn btn-primary w-100">
                <i class="bi bi-key"></i> Actualitzar contrasenya
            </button>
        </form>

        <div class="text-center mt-3">
            <a href="/" class="text-decoration-none">
                <i class="bi bi-arrow-left"></i> Tornar
            </a>
        </div>

    </div>

</div>
{% endblock %}
